SECRETS_UNAME="user"
SECRETS_PASS="pass"
SECRETS_LOCATION="ip or hostname"

# remember to procure sercrets.crt
# uncomment when you did
# REMEMBER_SECRETS_CERT="yes"

# secret manager's reference namespace
APPLICATION_NAME="octocat/Spoon-Knife"
# repo to clone
APPLICATION_REPO="git@github.com:octocat/Spoon-Knife.git"
